.App {
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 20px;
}

.TodoItem{
  display: flex;
  justify-content: start;
  border: black solid 1px;
}

.TodoGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
